# Hands-on Activity 8.1: Aggregating Data with Pandas

**NAME** : De Guzman, Aero Kent D.\
**DATE CREATED** : 04/12/2025\
**DATE SUBMITTED** : 04/12/2025\
**INSTRUCTOR** : Engr. Roman Richard

## PROCEDURES

In [822]:
"""
# Provide some comments here about the results of the procedures.

# 8.1 Weather Data Collection

# Under this module, the procedures are similar to how to scrape data from a website such as obtain their url as well as
# but the difference is that the data retrieved are now both being entered into a database using sql.

# 8.2 Querying and Merging

# Under this module, the two functions under pandas are explained, specifically the Query() and Merge() function wherein
# the query is simply a simplified variation on how you would construct calculations and combinations towards both columns
# and values of a dataframe with the difference being that the process to compelete it enables it to be both faster and 
# easier to complete by removing the need to specify the use of some or either frames.

# The merge() function on the other hand is a helpful function that makes two different dataframe join in with one another
# on either side. There are also additional parameters present on this function such as which specific column would you
# like for the two columns to join together, what would you like the values to do such as only show the similar values, drop
# it, or just show all of them, as well as the position of the new columns.
# 
8.3 Dataframe Operatios
# 
Under this module, the different operations regarding the use of the dataframes are discussed such as how to properly# 
construct an arithmetic operations through one or more columns/rows in order to retrieve a desired value. Additionally,# 
operations to help better visualize a value is also discussed such as the use of a cut() function that divides and# 
segragates a targetted column of your choosing which can be helpful in understanding both the partioning and deviations# 
of a given values for data synthesis as well as the use of the apply() function which was used in previous activites which# 
functions by simply needing functions as its parameters which it will apply to the connected column. The rolling() function# 
is also discussed which is used for rolling window computation hence the same such as computing for values for every # 
3 days for a month were in it will return the sum for every 3 days. And lastly is the Pipes( which is also similar to 
# the apply function as well as such that you are now using the function as a parameter as well as the values you will want
# to pass through to that function, this will be useful when it comes to futher simplifying a code to make it shorter
# and easier on the eyes by ensuring more spaces will be freed.
s# 
8.4 Aggregionsns# 

Under this module, the agg function is shown which makes computations such as mean, sum, max, and mean simplier to complet# e
especially in a straight linear code rather than assigning them indivually. It is similar to the apply function where yo# u
will simply insert the functions for calculations within it such as mean and sum. Additionally, the groupby function i# s
shown which is helps in visualizing large amounts of data by selecting only specific columns in order to show either individuall# y
or the total values based on a provided calculation such as grouping by something based on age then selecting their grade# s
in order to obtain the means for each age group. Filter() function is also discussed briefly which is used in order to d# o
what it says which is to filter a selected column,row, or table to only show the inserted parameters within that table. Lastl# y
is the Pivot and Crosstable which is similar to the groupby function such that they also aids in helping to visualize a data b# y
the Pivot Table selecting specific column to pivot and be the index to show only the provided column and the Crosstabl# e
being similar in nature but are utilized for each ability to provide insights based on the used calculation provided such a# s
either utilizing it for frequency or for a provided arithmentic function (e.g. for meann# s
8.5 T Series 
# r

Under this module, it was taught under here how to carry out operations and calculations when dealing with time datas su# ch
as providing how exactly to both select as well as use them when it comes to either extracting them to use for filterati# on
to select only those data as well as to know the ranges in order to better visualize the frequencies of these da
"""ies

SyntaxError: invalid syntax (619721792.py, line 55)

## SUPPLEMENTARY

In [4]:
# importing the needed modules
import pandas as pd
import numpy as np

In [6]:
# 1. With the earthquakes.csv file, select all the earthquakes in Japan with a magType of mb and a magnitude of 4.9 or greater.

quakes = pd.read_csv('datasets/earthquakes.csv')
quakes.query('`mag` >= 4.9').sort_values('mag') # added sort to see that 4.9 above are really selected.

,mag,magType,time,place,tsunami,parsed_place
5566,4.9,mb,1538065400600,"194km W of Ile Hunter, New Caledonia",0,New Caledonia
3035,4.9,mb,1538589168370,"58km NNW of Ust'-Kamchatsk Staryy, Russia",0,Russia
5312,4.9,mb,1538119717550,"57km N of Palu, Indonesia",0,Indonesia
6447,4.9,mb,1537900187320,"108km ENE of Kiunga, Papua New Guinea",0,Papua New Guinea
4953,4.9,mb,1538196034210,Kuril Islands,0,Kuril Islands
...,...,...,...,...,...,...
799,6.5,mww,1539213362130,"148km S of Severo-Kuril'sk, Russia",1,Russia
4363,6.7,mww,1538304744240,"263km NNE of Ndoi Island, Fiji",1,Fiji
118,6.7,mww,1539429023560,"262km NW of Ozernovskiy, Russia",1,Russia
837,7.0,mww,1539204500290,"117km E of Kimbe, Papua New Guinea",1,Papua New Guinea
5263,7.5,mww,1538128963480,"78km N of Palu, Indonesia",1,Indonesia

In [8]:
# 2. Create bins for each full number of magnitude (for example, the first bin is 0-1, the second is 1-2, and so on) with a magType of ml and count how many are in each bin.
quakesMl = quakes[quakes['magType'] == 'ml'].sort_values('mag', ascending = True).dropna().copy()
print((quakes.value_counts()).sum())
quakesBin = pd.cut(quakesMl.mag, bins = 8, labels = ['0-1','1-2','2-3','3-4','4-5','5-6','6-7','7-8'])
print(quakesBin.value_counts())
print((quakesBin.value_counts()).sum())

9331
mag
3-4    2489
2-3    2172
4-5     906
1-2     821
5-6     251
0-1     131
6-7      31
7-8       2
Name: count, dtype: int64
6803

In [10]:
# 3. Using the faang.csv file, group by the ticker and resample to monthly frequency. Make the following aggregations:

faangdf = pd.read_csv('datasets/faang.csv') # add the value then the function you would like to use
faangdf.groupby('ticker').agg({'open'   : 'mean', # 3.1 Mean of the opening price
                               'high'   : 'max',  # 3.2 Maximum of the high price
                               'low'    : 'min',  # 3.3 Minimum of the low price
                               'close'  : 'mean', # 3.4 Mean of the closing price
                               'volume' : 'sum'}) # 3.5 Sum of the volume traded

               open       high        low        close      volume
ticker
AAPL     187.038674   231.6645   145.9639   186.986218  8539383858
AMZN    1644.072669  2050.5000  1170.5100  1641.726175  1418040266
FB       171.454424   218.6200   123.0200   171.510936  6949682394
GOOG    1113.554104  1273.8900   970.1100  1113.225139   437403914
NFLX     319.620533   423.2056   195.4200   319.290299  2879045091

In [14]:
# 4. Build a crosstab with the earthquake data between the tsunami column and the magType column. Rather than showing the frequency count, show the maximum
#    magnitude that was observed for each combination. Put the magType along the columns.

pd.crosstab(index = quakes.tsunami, columns = quakes.magType, values = quakes.mag, aggfunc = 'max')

magType   mb  mb_lg    md   mh   ml  ms_20    mw  mwb  mwr  mww
tsunami
0        5.6    3.5  4.11  1.1  4.2    NaN  3.83  5.8  4.8  6.0
1        6.1    NaN   NaN  NaN  5.1    5.7  4.41  NaN  NaN  7.5

In [832]:
# 5. Calculate the rolling 60-day aggregations of OHLC data by ticker for the FAANG data. Use the same aggregations as exercise no. 3.
faangRoll = faangdf.copy()
faangRoll['date'] = pd.to_datetime(faangRoll['date'])
faangRoll.set_index('date', inplace = True)
faangRoll = faangRoll.rolling(60).agg({'open'   : 'mean', # 3.1 Mean of the opening price
                                       'high'   : 'max',  # 3.2 Maximum of the high price
                                       'low'    : 'min',  # 3.3 Minimum of the low price
                                       'close'  : 'mean', # 3.4 Mean of the closing price
                                       'volume' : 'sum'}) # 3.5 Sum of the volume traded
print(faangRoll.iloc[0:60]) # to see that we are really rolling by intervals of 60 days, it is NaN since it hasn't been 60+ days yet
faangRoll                   # here, it can be seen here the summary after all those rolling.

                  open    high     low     close        volume
date
2018-01-02         NaN     NaN     NaN       NaN           NaN
2018-01-03         NaN     NaN     NaN       NaN           NaN
2018-01-04         NaN     NaN     NaN       NaN           NaN
2018-01-05         NaN     NaN     NaN       NaN           NaN
2018-01-08         NaN     NaN     NaN       NaN           NaN
2018-01-09         NaN     NaN     NaN       NaN           NaN
2018-01-10         NaN     NaN     NaN       NaN           NaN
2018-01-11         NaN     NaN     NaN       NaN           NaN
2018-01-12         NaN     NaN     NaN       NaN           NaN
2018-01-16         NaN     NaN     NaN       NaN           NaN
2018-01-17         NaN     NaN     NaN       NaN           NaN
2018-01-18         NaN     NaN     NaN       NaN           NaN
2018-01-19         NaN     NaN     NaN       NaN           NaN
2018-01-22         NaN     NaN     NaN       NaN           NaN
2018-01-23         NaN     NaN     NaN       NaN           NaN
2018-01-24         NaN     NaN     NaN       NaN           NaN
2018-01-25         NaN     NaN     NaN       NaN           NaN
2018-01-26         NaN     NaN     NaN       NaN           NaN
2018-01-29         NaN     NaN     NaN       NaN           NaN
2018-01-30         NaN     NaN     NaN       NaN           NaN
2018-01-31         NaN     NaN     NaN       NaN           NaN
2018-02-01         NaN     NaN     NaN       NaN           NaN
2018-02-02         NaN     NaN     NaN       NaN           NaN
2018-02-05         NaN     NaN     NaN       NaN           NaN
2018-02-06         NaN     NaN     NaN       NaN           NaN
2018-02-07         NaN     NaN     NaN       NaN           NaN
2018-02-08         NaN     NaN     NaN       NaN           NaN
2018-02-09         NaN     NaN     NaN       NaN           NaN
2018-02-12         NaN     NaN     NaN       NaN           NaN
2018-02-13         NaN     NaN     NaN       NaN           NaN
2018-02-14         NaN     NaN     NaN       NaN           NaN
2018-02-15         NaN     NaN     NaN       NaN           NaN
2018-02-16         NaN     NaN     NaN       NaN           NaN
2018-02-20         NaN     NaN     NaN       NaN           NaN
2018-02-21         NaN     NaN     NaN       NaN           NaN
2018-02-22         NaN     NaN     NaN       NaN           NaN
2018-02-23         NaN     NaN     NaN       NaN           NaN
2018-02-26         NaN     NaN     NaN       NaN           NaN
2018-02-27         NaN     NaN     NaN       NaN           NaN
2018-02-28         NaN     NaN     NaN       NaN           NaN
2018-03-01         NaN     NaN     NaN       NaN           NaN
2018-03-02         NaN     NaN     NaN       NaN           NaN
2018-03-05         NaN     NaN     NaN       NaN           NaN
2018-03-06         NaN     NaN     NaN       NaN           NaN
2018-03-07         NaN     NaN     NaN       NaN           NaN
2018-03-08         NaN     NaN     NaN       NaN           NaN
2018-03-09         NaN     NaN     NaN       NaN           NaN
2018-03-12         NaN     NaN     NaN       NaN           NaN
2018-03-13         NaN     NaN     NaN       NaN           NaN
2018-03-14         NaN     NaN     NaN       NaN           NaN
2018-03-15         NaN     NaN     NaN       NaN           NaN
2018-03-16         NaN     NaN     NaN       NaN           NaN
2018-03-19         NaN     NaN     NaN       NaN           NaN
2018-03-20         NaN     NaN     NaN       NaN           NaN
2018-03-21         NaN     NaN     NaN       NaN           NaN
2018-03-22         NaN     NaN     NaN       NaN           NaN
2018-03-23         NaN     NaN     NaN       NaN           NaN
2018-03-26         NaN     NaN     NaN       NaN           NaN
2018-03-27         NaN     NaN     NaN       NaN           NaN
2018-03-28  179.877667  195.32  149.02  179.8805  1.949076e+09

                   open     high     low        close       volume
date
2018-01-02          NaN      NaN     NaN          NaN          NaN
2018-01-03          NaN      NaN     NaN          NaN          NaN
2018-01-04          NaN      NaN     NaN          NaN          NaN
2018-01-05          NaN      NaN     NaN          NaN          NaN
2018-01-08          NaN      NaN     NaN          NaN          NaN
...                 ...      ...     ...          ...          ...
2018-12-24  1078.653333  1209.96  970.11  1074.657833  119478286.0
2018-12-26  1075.272333  1209.96  970.11  1072.091000  120470927.0
2018-12-27  1072.226667  1209.96  970.11  1069.567167  121223100.0
2018-12-28  1069.871000  1206.41  970.11  1066.850000  120948958.0
2018-12-31  1067.303667  1197.51  970.11  1064.061000  121186466.0

[1255 rows x 5 columns]

In [834]:
# 6. Create a pivot table of the FAANG data that compares the stocks. Put the ticker in the rows and show the averages of the OHLC and volume traded data.
pd.pivot_table(faangdf, index = 'ticker', values = ['open','high','low','close','volume'], aggfunc = 'mean')

              close         high          low         open        volume
ticker
AAPL     186.986218   188.906858   185.135729   187.038674  3.402145e+07
AMZN    1641.726175  1662.839801  1619.840398  1644.072669  5.649563e+06
FB       171.510936   173.615298   169.303110   171.454424  2.768798e+07
GOOG    1113.225139  1125.777649  1101.001594  1113.554104  1.742645e+06
NFLX     319.290299   325.224583   313.187273   319.620533  1.147030e+07

In [836]:
# 7. Calculate the Z-scores for each numeric column of Netflix's data (ticker is NFLX) using apply().

nflxDF = faangdf[faangdf['ticker'] == 'NFLX'].copy()
nflxDF.groupby('ticker')[['open','high','low','close','volume']] \
                        .apply(lambda x: (x - x.mean()) / x.std()).reset_index() # z-score formula

    ticker  level_1      open      high       low     close    volume
0     NFLX      753 -2.500753 -2.516023 -2.410226 -2.416644 -0.088760
1     NFLX      754 -2.380291 -2.423180 -2.285793 -2.335286 -0.507606
2     NFLX      755 -2.296272 -2.406077 -2.234616 -2.323429 -0.959287
3     NFLX      756 -2.275014 -2.345607 -2.202087 -2.234303 -0.782331
4     NFLX      757 -2.218934 -2.295113 -2.143759 -2.192192 -1.038531
..     ...      ...       ...       ...       ...       ...       ...
246   NFLX      999 -1.571478 -1.518366 -1.627197 -1.745946 -0.339003
247   NFLX     1000 -1.735063 -1.439978 -1.677339 -1.341402  0.517040
248   NFLX     1001 -1.407286 -1.417785 -1.495805 -1.302664  0.134868
249   NFLX     1002 -1.248762 -1.289018 -1.297285 -1.292137 -0.085164
250   NFLX     1003 -1.203817 -1.122354 -1.088531 -1.055420  0.359444

[251 rows x 7 columns]

In [840]:
# 8. Add event descriptions:

# Create a dataframe with the following three columns: ticker, date, and event. The columns should have the following values:
df8 = faangdf[['ticker','date']].query("date in ['2018-07-25', '2018-03-19', '2018-03-20'] and ticker == 'FB'").copy() # ticker: 'FB'
                                                                                                                       # date: ['2018-07-25', '2018-03-19', '2018-03-20']
df8['event'] = df8['date'].apply(lambda x : 'Disappointing user growth announced after close.' if x == '2018-07-25' \
                                 else 'Cambridge Analytica story' if x == '2018-03-19' \
                                 else 'FTC investigation') # event: ['Disappointing user growth announced after close.', 'Cambridge Analytica story', 'FTC investigation']

df8.set_index(['date', 'ticker'], inplace = True) # Set the index to ['date', 'ticker']
print(df8)

dfMerge = faangdf.copy()

dfMerge = dfMerge.merge(df8, on = ['ticker','date'], how = 'outer').set_index(['date', 'ticker']) # Merge this data with the FAANG data using an outer join
dfMerge

                                                              event
date       ticker
2018-03-19 FB                             Cambridge Analytica story
2018-03-20 FB                                     FTC investigation
2018-07-25 FB      Disappointing user growth announced after close.

                       open      high       low     close    volume event
date       ticker
2018-01-02 AAPL    166.9271  169.0264  166.0442  168.9872  25555934   NaN
2018-01-03 AAPL    169.2521  171.2337  168.6929  168.9578  29517899   NaN
2018-01-04 AAPL    169.2619  170.1742  168.8106  169.7426  22434597   NaN
2018-01-05 AAPL    170.1448  172.0381  169.7622  171.6751  23660018   NaN
2018-01-08 AAPL    171.0375  172.2736  170.6255  171.0375  20567766   NaN
...                     ...       ...       ...       ...       ...   ...
2018-12-24 NFLX    242.0000  250.6500  233.6800  233.8800   9547616   NaN
2018-12-26 NFLX    233.9200  254.5000  231.2300  253.6700  14402735   NaN
2018-12-27 NFLX    250.1100  255.5900  240.1000  255.5650  12235217   NaN
2018-12-28 NFLX    257.9400  261.9144  249.8000  256.0800  10987286   NaN
2018-12-31 NFLX    260.1600  270.1001  260.0000  267.6600  13508920   NaN

[1255 rows x 6 columns]

In [808]:
# 9. Use the transform() method on the FAANG data to represent all the values in terms of the first date in the data. To do so, divide all the values for each ticker by the values
# for the first date in the data for that ticker. This is referred to as an index, and the data for the first date is the base (https://ec.europa.eu/eurostat/statistics-explained/
# index.php/ Beginners:Statisticalconcept-Indexandbaseyear). When data is in this format, we can easily see growth over time. Hint: transform() can take a function name.

In [842]:
dfMerge.groupby(['ticker'])[['open','high','low','close','volume']].transform(lambda x: x / x.iloc[0]) # for each assigned ticker by groupby,
                                                                                                       # the provided values will be divided
                                                                                                       # by the first date of that ticker,
                                                                                                       # since the group is located on that 
                                                                                                       # specific ticker, it will loc the first
                                                                                                       # located in the index using iloc
                                                                                                       # which is the first date there.

                       open      high       low     close    volume
date       ticker
2018-01-02 AAPL    1.000000  1.000000  1.000000  1.000000  1.000000
2018-01-03 AAPL    1.013928  1.013059  1.015952  0.999826  1.155031
2018-01-04 AAPL    1.013987  1.006791  1.016661  1.004470  0.877863
2018-01-05 AAPL    1.019276  1.017818  1.022392  1.015906  0.925813
2018-01-08 AAPL    1.024624  1.019211  1.027591  1.012133  0.804814
...                     ...       ...       ...       ...       ...
2018-12-24 NFLX    1.234064  1.242995  1.195783  1.163177  0.870586
2018-12-26 NFLX    1.192861  1.262088  1.183246  1.261600  1.313293
2018-12-27 NFLX    1.275421  1.267493  1.228636  1.271025  1.115651
2018-12-28 NFLX    1.315349  1.298856  1.278272  1.273586  1.001860
2018-12-31 NFLX    1.326670  1.339450  1.330468  1.331178  1.231791

[1255 rows x 5 columns]