# **MODULE 7: DATA WRANGLING WITH PANDAS**

## **CPE311 COMPUTATIONAL THINKING WITH PYTHON**

SUBMITTED BY: De Guzman, Aero Kent

PERFORMED ON: 04/06/2025

SUBMITTED ON: 04/07/2025


SUBMITTED TO: Engr. Roman M. Richard

## **7.1 Supplementary Activity**

Using the datasets provided, perform the following exercises.

### **Exercise 1**

We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file. Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:

1. Read each file in.
2. Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's
is AAPL, for example). This is how you look up a stock. Each file's name is also the ticker
symbol, so be sure to capitalize it.
3. Append them together into a single dataframe.
4. Save the result in a CSV file called faang.csv.

In [78]:
# 1. Read each file in.
import pandas as pd

data = {
    'AAPL' : pd.read_csv('datasets/aapl.csv'),
    'AMZN' : pd.read_csv('datasets/amzn.csv'),
    'FB'   : pd.read_csv('datasets/fb.csv'),
    'GOOG' : pd.read_csv('datasets/goog.csv'),
    'NFLX' : pd.read_csv('datasets/nflx.csv')
}

for i in data:
    print(data[i].head(5))

         date      open      high       low     close    volume
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766
         date     open     high      low    close   volume
0  2018-01-02  1172.00  1190.00  1170.51  1189.01  2694494
1  2018-01-03  1188.30  1205.49  1188.30  1204.20  3108793
2  2018-01-04  1205.00  1215.87  1204.66  1209.59  3022089
3  2018-01-05  1217.51  1229.14  1210.00  1229.14  3544743
4  2018-01-08  1236.00  1253.08  1232.03  1246.87  4279475
         date    open    high       low   close    volume
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726
         date     open     high      low    close   volume
0  2018-01-02  1048.34  1066.94  1045.23  1065.00  1237564
1  2018-01-03  1064.31  1086.29  1063.21  1082.48  1430170
2  2018-01-04  1088.00  1093.57  1084.00  1086.40  1004605
3  2018-01-05  1094.00  1104.25  1092.00  1102.23  1279123
4  2018-01-08  1102.23  1111.27  1101.62  1106.94  1047603
         date    open    high       low   close    volume
0  2018-01-02  196.10  201.65  195.4200  201.07  10966889
1  2018-01-03  202.05  206.21  201.5000  205.05   8591369
2  2018-01-04  206.20  207.05  204.0006  205.63   6029616
3  2018-01-05  207.25  210.02  205.5900  209.99   7033240
4  2018-01-08  210.02  212.50  208.4400  212.05   5580178

In [80]:
# 2. Add a column to each dataframe, called ticker, indicating the ticker symbol
# it is for (Apple's is AAPL, for example). This is how you look up a stock.
# Each file's name is also the ticker symbol, so be sure to capitalize it.

for i in data:
    data[i] = data[i].assign(ticker = i)

for i in data:
    print(data[i].head(5))

         date      open      high       low     close    volume ticker
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL
         date     open     high      low    close   volume ticker
0  2018-01-02  1172.00  1190.00  1170.51  1189.01  2694494   AMZN
1  2018-01-03  1188.30  1205.49  1188.30  1204.20  3108793   AMZN
2  2018-01-04  1205.00  1215.87  1204.66  1209.59  3022089   AMZN
3  2018-01-05  1217.51  1229.14  1210.00  1229.14  3544743   AMZN
4  2018-01-08  1236.00  1253.08  1232.03  1246.87  4279475   AMZN
         date    open    high       low   close    volume ticker
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903     FB
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563     FB
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896     FB
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535     FB
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726     FB
         date     open     high      low    close   volume ticker
0  2018-01-02  1048.34  1066.94  1045.23  1065.00  1237564   GOOG
1  2018-01-03  1064.31  1086.29  1063.21  1082.48  1430170   GOOG
2  2018-01-04  1088.00  1093.57  1084.00  1086.40  1004605   GOOG
3  2018-01-05  1094.00  1104.25  1092.00  1102.23  1279123   GOOG
4  2018-01-08  1102.23  1111.27  1101.62  1106.94  1047603   GOOG
         date    open    high       low   close    volume ticker
0  2018-01-02  196.10  201.65  195.4200  201.07  10966889   NFLX
1  2018-01-03  202.05  206.21  201.5000  205.05   8591369   NFLX
2  2018-01-04  206.20  207.05  204.0006  205.63   6029616   NFLX
3  2018-01-05  207.25  210.02  205.5900  209.99   7033240   NFLX
4  2018-01-08  210.02  212.50  208.4400  212.05   5580178   NFLX

In [82]:
# 3. Append them together into a single dataframe.

FAANG_df = pd.DataFrame(pd.concat([apple_df,amazon_df,facebook_df,google_df,netflix_df], ignore_index = True))
FAANG_df

            date      open      high       low     close    volume ticker
0     2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1     2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2     2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3     2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4     2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL
...          ...       ...       ...       ...       ...       ...    ...
1250  2018-12-24  242.0000  250.6500  233.6800  233.8800   9547616   NFLX
1251  2018-12-26  233.9200  254.5000  231.2300  253.6700  14402735   NFLX
1252  2018-12-27  250.1100  255.5900  240.1000  255.5650  12235217   NFLX
1253  2018-12-28  257.9400  261.9144  249.8000  256.0800  10987286   NFLX
1254  2018-12-31  260.1600  270.1001  260.0000  267.6600  13508920   NFLX

[1255 rows x 7 columns]

In [89]:
# 4. Save the result in a CSV file called faang.csv.

FAANG_df.to_csv('datasets/faang.csv', index = False)

### **Exercise 2**

* With faang, use type conversion to change the date column into a datetime and the volume column into integers. Then, sort by date and ticker.
* Find the seven rows with the highest value for volume.
* Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format. Hint: date and ticker are our ID variables (they uniquely identify
each row). We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

In [111]:
# 1. With faang, use type conversion to change the date column into a datetime
# and the volume column into integers. Then, sort by date and ticker.

df2 = pd.read_csv('datasets/faang.csv')

df2.date = df2.date.apply(pd.to_datetime)
print(df2[['date','volume']].dtypes) # volume is already in integers...

df2 = df2.sort_values(['date','ticker']).reset_index(drop = True)
df2

date      datetime64[ns]
volume             int64
dtype: object

           date       open       high        low      close    volume ticker
0    2018-01-02   166.9271   169.0264   166.0442   168.9872  25555934   AAPL
1    2018-01-02  1172.0000  1190.0000  1170.5100  1189.0100   2694494   AMZN
2    2018-01-02   177.6800   181.5800   177.5500   181.4200  18151903     FB
3    2018-01-02  1048.3400  1066.9400  1045.2300  1065.0000   1237564   GOOG
4    2018-01-02   196.1000   201.6500   195.4200   201.0700  10966889   NFLX
...         ...        ...        ...        ...        ...       ...    ...
1250 2018-12-31   157.8529   158.6794   155.8117   157.0663  35003466   AAPL
1251 2018-12-31  1510.8000  1520.7600  1487.0000  1501.9700   6954507   AMZN
1252 2018-12-31   134.4500   134.6400   129.9500   131.0900  24625308     FB
1253 2018-12-31  1050.9600  1052.7000  1023.5900  1035.6100   1493722   GOOG
1254 2018-12-31   260.1600   270.1001   260.0000   267.6600  13508920   NFLX

[1255 rows x 7 columns]

In [123]:
# 2. Find the seven rows with the highest value for volume.
df2.sort_values('volume', ascending = False).head(7)

           date      open      high       low     close     volume ticker
712  2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668     FB
267  2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768     FB
287  2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634     FB
272  2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834     FB
910  2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748   AAPL
1225 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384   AAPL
1060 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654   AAPL

In [125]:
# 4. Right now, the data is somewhere between long and wide format. Use melt()
# to make it completely long format. Hint: date and ticker are our ID variables
# (they uniquely identify each row). We need to melt the rest so that we don't
# have separate columns for open, high, low, close, and volume.

pd.melt(df2, ['date','ticker'], ['open', 'high', 'low', 'close', 'volume'])

           date ticker variable         value
0    2018-01-02   AAPL     open  1.669271e+02
1    2018-01-02   AMZN     open  1.172000e+03
2    2018-01-02     FB     open  1.776800e+02
3    2018-01-02   GOOG     open  1.048340e+03
4    2018-01-02   NFLX     open  1.961000e+02
...         ...    ...      ...           ...
6270 2018-12-31   AAPL   volume  3.500347e+07
6271 2018-12-31   AMZN   volume  6.954507e+06
6272 2018-12-31     FB   volume  2.462531e+07
6273 2018-12-31   GOOG   volume  1.493722e+06
6274 2018-12-31   NFLX   volume  1.350892e+07

[6275 rows x 4 columns]

### **Exercise 3**

* Using web scraping, search for the list of the hospitals, their address and contact information. Save the list in a new csv file, hospitals.csv.
* Using the generated hospitals.csv, convert the csv file into pandas dataframe. Prepare the data using the necessary preprocessing techniques.

In [134]:
# 1. Using web scraping, search for the list of the hospitals, their address and
# contact information. Save the list in a new csv file, hospitals.csv.

# I do not know what exactly web scraping means but from what I have seen, it is
# extracting data/sets online through python by using a code as a medium of
# direct extraction as well as their url/links

# to install the web scrapped data from kaggle, the instruction can be found in
# their documentation at their website at https://www.kaggle.com/docs/api#authentication
# below are the specific links that I have actually used found within that documentation...

# 1. In order to run commands such as retrieving dataset(s)
# https://www.kaggle.com/docs/api#authentication:~:text=package%20and%20authentication.-,Installation,below%20and%20you%E2%80%99ll%20be%20able%20to%20use%20the%20kaggle%20CLI%20tool.,-If%20you%20run
# 2. In order to actually use/retrieve the data (public API key)
# https://www.kaggle.com/docs/api#authentication:~:text=is%20%24PYTHON_HOME/Scripts.-,Authentication,the%20download%20of%20kaggle.json%2C%20a%20file%20containing%20your%20API%20credentials.,-If%20you%20are
# 3. To download the datasets.
# https://www.kaggle.com/docs/api#authentication:~:text=kaggle%20datasets%20download%20%2Dd%20%5BDATASET%5D%3A%20download%20files%20associated%20with%20a%20dataset

!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.2-py3-none-any.whl.metadata (16 kB)
Collecting bleach (from kaggle)
  Downloading bleach-6.2.0-py3-none-any.whl.metadata (30 kB)
Collecting certifi>=14.05.14 (from kaggle)
  Downloading certifi-2025.1.31-py3-none-any.whl.metadata (2.5 kB)
Collecting charset-normalizer (from kaggle)
  Downloading charset_normalizer-3.4.1-cp312-cp312-win_amd64.whl.metadata (36 kB)
Collecting idna (from kaggle)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting protobuf (from kaggle)
  Downloading protobuf-6.30.2-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Collecting python-dateutil>=2.5.3 (from kaggle)
  Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Collecting requests (from kaggle)
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\userr\anaconda3\envs\deguzman-cpe22s3-cpe311\lib\site-packages (from kaggle) (75.8.0)
Collecting six>=1.10 (from kaggle)
  Downloading six-1.17.0-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting text-unidecode (from kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Collecting urllib3>=1.15.1 (from kaggle)
  Downloading urllib3-2.3.0-py3-none-any.whl.metadata (6.5 kB)
Collecting webencodings (from kaggle)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Collecting colorama (from tqdm->kaggle)
  Downloading colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Downloading kaggle-1.7.4.2-py3-none-any.whl (173 kB)
Downloading certifi-2025.1.31-py3-none-any.whl (166 kB)
Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Downloading six-1.17.0-py2.py3-none-any.whl (11 kB)
Downloading urllib3-2.3.0-py3-none-any.whl (128 kB)
Downloading bleach-6.2.0-py3-none-any.whl (163 kB)
Downloading charset_normalizer-3.4.1-cp312-cp312-win_amd64.whl (102 kB)
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading protobuf-6.30.2-cp310-abi3-win_amd64.whl (431 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Installing collected packages: webencodings, text-unidecode, urllib3, six, python-slugify, protobuf, idna, colorama, charset-normalizer, certifi, bleach, tqdm, requests, python-dateutil, kaggle
Successfully installed bleach-6.2.0 certifi-2025.1.31 charset-normalizer-3.4.1 colorama-0.4.6 idna-3.10 kaggle-1.7.4.2 protobuf-6.30.2 python-dateutil-2.9.0.post0 python-slugify-8.0.4 requests-2.32.3 six-1.17.0 text-unidecode-1.3 tqdm-4.67.1 urllib3-2.3.0 webencodings-0.5.1

In [175]:
# to  actually download the dataset.
# this will return a KeyError: 'username' if the API key is not found in your system
# it must be placed in C:\Users\<username>\.kaggle\
# https://www.kaggle.com/docs/api#authentication:~:text=C%3A%5CUsers%5C%3CWindows%2Dusername%3E%5C.kaggle%5Ckaggle.json%20on%20Windows.
# the following will retrieve a .zip file containing the dataset(s)

!kaggle datasets download -d shuvokumarbasak2030/bd-doctor-information-doctor-directory-dataset

Dataset URL: https://www.kaggle.com/datasets/shuvokumarbasak2030/bd-doctor-information-doctor-directory-dataset
License(s): MIT
bd-doctor-information-doctor-directory-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [166]:
import pandas as pd

pd.read_csv('datasets/Doctor_Directory.csv').to_csv('datasets/hospitals.csv', index = False)

In [170]:
# 3. Using the generated hospitals.csv, convert the csv file into pandas
# dataframe. Prepare the data using the necessary preprocessing techniques.

import pandas as pd

hospitalDF = pd.read_csv('datasets/hospitals.csv')
hospitalDF

,S/L,Post,Provider,Division,District,Upazila,facility,ProfessionalDis,ContactNo,Address,Degree
0,1,Sr. Consultant(Eye),Dr. Mahboob Jahan Ahmed,Rajshahi,Chapai Nawabganj,Chapai Nababganj Sadar,Chapai Nababganj District Hospital,Ophthalmology,1712290927,"Adhunik Sadar Hospital, Chapainawabganj","MBBS/1983,MCPS(Ophthalmology)/2001,MS(Ophthalm..."
1,2,Sr. Consultant(Paediatrics),Dr. Bipad Bhanjan Karmakar,Rajshahi,Chapai Nawabganj,Chapai Nababganj Sadar,Chapai Nababganj District Hospital,Pediatrics,1556333100,"Vill-Sultanabad,PO-Ghora Mara,PS-Boalia,Dist-R...",DCH(Pediatrics)/2002
2,3,Jr. Consultant(Anesthesia),Dr.Md.Monirul Islam,Rajshahi,Chapai Nawabganj,Chapai Nababganj Sadar,Chapai Nababganj District Hospital,Medical Officer,1748991574,Sadar Hospital Chapainawabganj,DA
3,4,Jr. Consultant(Surgery),Dr. Md. Shahid-ul-islam Khan,Rajshahi,Chapai Nawabganj,Chapai Nababganj Sadar,Chapai Nababganj District Hospital,Surgery,1711003283,"JUNIOR CONSULTANT, SURGERY, ADHUNIK SADAR HOSP...","MBBS/2004,FCPS(Surgery)/2014"
4,5,RMO,Dr. Ayesha Julekha,Rajshahi,Chapai Nawabganj,Chapai Nababganj Sadar,Chapai Nababganj District Hospital,NaN,1715171009,"Adhuink Sadar Hospital, Chapainawabganj.","MBBS,MBBS/1984"
...,...,...,...,...,...,...,...,...,...,...,...
194,195,Mymensingh Medical College Hospital - Asstt. R...,Dr. Rajesh Kumar Ghose,Rajshahi,Rajshahi,Rajpara,Rajshahi Medical College Hospital,Cardiology,1715405881,"2/A, Aziz Co-operative Complex, Shahbagh, Dhaka","MBBS,MBBS/2002,MD(Cardiology)/2016"
195,196,Rajshahi Medical College Hospital - Medical Of...,Dr. Md. Ruhul Amin,Rajshahi,Rajshahi,Rajpara,Rajshahi Medical College Hospital,Medical Officer,1718242137,"Moddho Naodapara, P.O: Sopura,P.S: Shah Mukhdu...",MBBS/2004
196,197,Rajshahi Medical College Hospital - Anesthesio...,A. K. M. Tanvirul Haque,Rajshahi,Rajshahi,Rajpara,Rajshahi Medical College Hospital,Anesthesiology,1715153845,Rajshahi Medical College Hospital,"DA/2016,DA/2016,MBBS/"
197,198,Rajshahi Medical College Hospital - Anesthesio...,Dr. Mohammad Delowar Hossain,Rajshahi,Rajshahi,Rajpara,Rajshahi Medical College Hospital,Anesthesiology,1716856453,"EMO,UHC,PANGSHA,RAJBARI","MBBS,DA(Anesthesiology)"
198,199,Rajshahi Medical College Hospital - Asstt. Reg...,Dr. Md. Azizul Islam,Rajshahi,Rajshahi,Rajpara,Rajshahi Medical College Hospital,General Surgery,1712988026,"HOLDING-44 VILL. FAKIRPARA, PO-CHAPAI NAWABGON...",MS/2016

## **7.2 CONCLUSION**

To conclude the following hands on activity, it was all about data wrangling as well as data collection through python.
In the first and second provided exercises, the task that was being asked here is to modify and entrangle the provided
datasets in order for better and easier visualization and access by appending/joining each of them into one due to all
of them containing and asking the same columns within which will make it easier and compatible for joining. In the first
exercise, this was possible due to the .concat() function wherein it joins in the provided dataframes into one. I was
supposed to use the .append() function but after search for a while, it turns out that pandas 2.0 onwards does not support
it anymore and have removed it which is why I have used the .concat() function instead. The premise of the 1st exercise
is simply based within that which is on how to join similar dataframes into one.

Going forward with the 2nd Exercise, this is now how to visualize the provided, wrangled dataframe wherein the .melt()
function is used in order to turn the dataframe that is in a wide format, which is simply the format wherin the provided
columns are already located individually on the top while the data entries are located under them row by row, turning
them into a long format, which is a format where the columns are minimized and the data values can be visualized by
looking at under the variable column which contains the given variables you want to lessen in the columns and the value
columns which contains the values of those given in each variable columns.

Lastly for the 3rd Exercise, this now contains the data scrapping for python. Based on my understanding, data scrapping
simply consist of utilizing the provided URLs of a specific website that you want to extract a data from and using
a script or code to do the extraction process. From what I have did, I used the kaggles API wherein the kaggle website
consists of numerous publicly available datasets to choose from, using the kaggles API as a medium, the extraction of
a selected data is possible which I have done using and based on their documentation. While there are a lot more functions
and syntax that is found under their API documentation, all of the important details for this activity is simply how to
extract a data which is possible by simply just first generating and activating an API key found under your account details,
installing their kaggle modules, then using the !kaggle download -d function to retrieve the dataset themselves.